# FastAPI
FastAPI==0.95.1
uvicorn==0.21.1
pydantic[dotenv]  # Same version that the included in FastAPI
pydantic[email]

# Database
alembic==1.10.3
SQLAlchemy==2.0.9
psycopg2-binary==2.9.6  # PostgreSQL

# Security
bcrypt==4.0.1
